body {
    margin: 0;
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: "#F9F9F9";
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

/* Facebook

  "#F9C796",
  "#F0ABAC",
  "#D7BDD0",
  "#A7BCD3",
  "#BBDBD9",
  "#CEBAAF",
  "#ACD0A7",
  "#F6E4A4" 
  

  "#D1975D",
  "#CB7375",
  "#BE92B1",
  "#7793b2"
  "#88BAB6",
  "#AC9284",
  "#80B278",
  "#CEB86A",
  */

/* 
  weibo

    "#CEBAAF",
    "#ACD0A7",
    "#BBDBD9",
    "#F9C796",
    "#F6E4A4",
    "#D7BDD0",
    "#F0ABAC",
    "#A7BCD3"

 
    "#88BAB6",
    "#CB7375",
    "#80B278",
    "#7793b2",
    "#D1975D",
    "#BE92B1",
    "#AC9284",
    "#CEB86A"
*/
